#indexsection {
align-items:center;
}
#looking {
  color:red;
}
#personalsection {
  border:2px solid black;
  margin-right:900px;

}
#personalimg {
  border:2px solid lightgrey;
  border-radius:200px;
}
